.place__paragraph {
  margin: 0 0 27px;
  padding: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 920px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}
