.intro {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 24px 0 8px;
  }
}


